{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
    <h1>Your preferences</h1>

    {% csrf_token %}
    {% crispy form %}

    <div>
        <button class='btn btn-outline-danger mt-5' hx-trigger='confirmed'
                hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "delete-account"}'
                hx-post="{% url 'htmx_group_commands' %}"
                _="on click
                    call Swal.fire({title: 'Confirm', text:'Are you sure?'})
                    if result.isConfirmed trigger confirmed">
            Leave group
        </button>
    </div>

{% endblock %}