{% extends "graffiti/base.html" %}
{% load crispy_forms_tags %}



{% block content %}
    <h1>Welcome to StencilAR</h1>
    <div class="mb-3">
        <p class="">Once you have added a URL, please follow instruction in StencilAR to download that URL to your
            headset. The software will then be able to download your image.
            One way of creating a URL for your image is to upload it to dropbox and
            <a target="_blank" href="https://help.dropbox.com/share/create-and-share-link">ask dropbox to generate a
                URL</a> (see <a href="https://support.microsoft.com/en-us/office/embed-files-directly-into-your-website-or-blog-ed07dd52-8bdb-431d-96a5-cbe8a80b7418" target="_blank ">
                here</a> on how to do this with onedrive). By saving over the same image in dropbox/onedrive, you can get StencilAR to download each change, without needing to return here!</p>

    </div>

    <div class="text-danger">
        <span>By using this web application, you acknowledge that:</span>
        <ul>
            <li>URLs saved here are publicly available</li>
            <li>Headset IDs are stored alongside URLs to help keep this site safe. All data will also be periodically
                deleted from our database <a class="btn btn-outline-danger btn-sm my-0 mx-0" hx-get="" hx-confirm="Are you sure?"  >Click to delete all data now</a></li>
        </ul>
    </div>
    <div class="">
        {% crispy form %}
    </div>



{% endblock %}