{% extends "graffiti/base.html" %}
{% load crispy_forms_tags %}



{% block content %}
    <h1>Welcome to Graffiti MR!</h1>
    <div class="mb-3">
        <p class="text-danger">Any content you upload is accessible via anyonewith this url</p>
        <p class="">There's currently an {{ max_mb }}MB file size limit</p>

    </div>
    {% if image_file == '' %}
        You've not uploaded an image yet.
        Once uploaded your image will be automatically deleted after {{ time_til_deleted }} minutes.
    {% else %}
        <p class="">After <span class="text-bg-danger text-white  m-1 px-2 "> {{ time_left_til_deleted }} seconds </span> this image will be automatically deleted</p>
        You can change the image available to your headset by uploading another here
    {% endif %}
    <div class="">
        {% crispy form %}
    </div>

    {% if image_file != '' %}
        <div class="row">
        <div>
        {{ image.width }}*{{ image.height }} pixels ({{ image.size|filesizeformat }})
        </div>
            <div class="col-6">
                <img class='img-fluid border shadow' src="{{ image_file }}" alt="Uploaded image available to your VR headset">
            </div>
        </div>
    {% endif %}

{% endblock %}