{% if admin_of_groups %}
    <h2>You are an admin of these groups</h2>
    <div class="row mb-5">
        {% for groupadmin in admin_of_groups %}
            <div class="{{ card_class }}">
                <div class="card bg-light shadow" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title d-inline-block me-2"><a
                                href="{% url 'group' groupadmin.group.uuid %}">{{ groupadmin.group.title }}</a>
                        </h5>
                        <span hx-post="{% url 'htmx_group_commands' %}" hx-trigger="load, every 100s"
                              hx-vals='{"command": "check-new-people", "group_uuid": "{{ groupadmin.group.uuid }}"}'>
                            </span>
                        <p class="card-text">{{ groupadmin.group.description }}</p>


                        {% include 'group/generate_email.html' with email_info=groupadmin.group.make_email %}


                        <a href="{% url 'admin-group-edit' groupadmin.group.uuid %}" class="btn float-end">
                            <i class="fa-solid fa-gear"></i> edit</a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}