{% if ok_invitation %}
    <h2>You need to OK being added to these groups</h2>
    <div class="row mb-5">
        {% for member in ok_invitation %}
            <div class="{{ card_class }}">
                <div class="card bg-light shadow" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ member.group.title }}
                        </h5>
                        <p class="card-text">{{ member.group.description }}</p>
                        <a class="btn btn-primary" hx-post="{% url 'htmx_group_commands' %}"
                           hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "accept-invitation"}'>
                            Accept invitation</a>
                        <a class="btn btn-danger float-end" hx-post="{% url 'htmx_group_commands' %}"
                           hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "decline-invitation"}'
                           hx-confirm="Are you sure you wish to decline?">
                            Decline invitation</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}