.captchaanswerinput {
    margin-top: 10px;
}

#div_id_captcha {
    margin-top: 10px;
}


.hero-section {
    background-color: rgba(128, 128, 128, 0.44);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 40px;
}

.card-img {
    max-width: 300px;
}

li {
    margin-top:5px;
    font-size: 1.1rem;
}