.captchaanswerinput {
    margin-top: 10px;
}

#div_id_captcha {
    margin-top: 10px;
}


.hero-section {
    background-image: url('https://via.placeholder.com/1920x1080');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}