{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    {% if admin_of_groups %}
        <h2>You are an admin of these groups</h2>
        <div class="row mb-5">
            {% for groupadmin in admin_of_groups %}
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card bg-light shadow" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title d-inline-block me-2"><a
                                    href="{% url 'group' groupadmin.group.uuid %}">{{ groupadmin.group.title }}</a>
                            </h5>
                            <span hx-post="{% url 'htmx_group_commands' %}" hx-trigger="load, every 100s"
                                  hx-vals='{"command": "check-new-people", "group_uuid": "{{ groupadmin.group.uuid }}"}'>
                            </span>
                            <p class="card-text">{{ groupadmin.group.description }}</p>
                            <div class="btn-toolbar justify-content-between" role="toolbar"
                                 aria-label="Toolbar with button groups">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <a target="_blank" href="{{ groupadmin.group.make_email }}" class="btn btn-primary">
                                        Generate email</a>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <a href="{% url 'admin-group-edit' groupadmin.group.uuid %}" class="btn">
                                        <i class="fa-solid fa-gear"></i> edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if group_memberships %}
        <h2>You are a member of these groups</h2>
        <div class="row">
            {% for member in group_memberships %}
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card bg-light shadow" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title"><a
                                    href="">{{ member.group.title }}</a>
                            </h5>
                            <p class="card-text">{{ member.group.description }}</p>
                            <div class="btn-toolbar justify-content-between" role="toolbar"
                                 aria-label="Toolbar with button groups">
                                {% if member.group.members_can_email_all %}
                                    <div class="btn-group me-2" role="group" aria-label="First group">
                                        <a target="_blank" href="{{ member.group.make_email }}" class="btn btn-primary">
                                            generate email</a>
                                    </div>
                                {% endif %}
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <a target="_blank" href="{{ member.group.make_admin_email }}"
                                       class="btn btn-primary">
                                        Email admin</a>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <!-- Example single danger button -->
                                    <div class="btn-group">
                                        <button type="button" class="btn dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                            Options
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li>

                                     <button class='dropdown-item text-danger' hx-trigger='confirmed'
                                             hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "leave-group"}'
                                             hx-post="{% url 'htmx_group_commands' %}"
                                             _="on click
                                                call Swal.fire({title: 'Confirm', text:'Are you sure?'})
                                                if result.isConfirmed trigger confirmed">
                                         Leave group
                                     </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if ok_invitation %}
        <h2>You need to OK being added to these groups</h2>
        <div class="row mb-5">
            {% for member in ok_invitation %}
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card bg-light shadow" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ member.group.title }}
                            </h5>
                            <p class="card-text">{{ member.group.description }}</p>
                            <a class="btn btn-primary" hx-post="{% url 'htmx_group_commands' %}"
                               hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "accept-invitation"}'>
                                Accept invitation</a>
                            <a class="btn btn-danger float-end" hx-post="{% url 'htmx_group_commands' %}"
                               hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "decline-invitation"}'
                               hx-confirm="Are you sure you wish to decline?">
                                Decline invitation</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if waiting_memberships %}
        <h2>You have requested to become a member of these groups</h2>
        <div class="row mb-5">
            {% for member in waiting_memberships %}
                <div class="col-md-4 col-sm-12 mb-3">
                    <div class="card bg-light shadow" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ member.group.title }}
                            </h5>
                            <p class="card-text">{{ member.group.description }}</p>
                            <div class="badge bg-dark-subtle d-inline-block mt-2">{{ member.get_status_display }}
                            </div>
                            <div class="float-end">
                                <button class="btn btn-sm btn-danger p-0"
                                        hx-post="{% url 'htmx_group_commands' %}"
                                        hx-vals='{"group_uuid": "{{ member.group.uuid }}", "command": "cancel-join-request"}'
                                        hx-confirm="Are you sure you wish to remove your request to join?"
                                >cancel?
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock content %}