{% extends 'base.html' %}
{% load static %}

{% block title %} Welcome {% endblock %}

{% block css %}
    <style>

        .bg-light {
            background-color: rgba(255, 255, 255, 0.5) !important;
        }

        .btn-outline-dark {
            background-color: rgba(255, 255, 255, 0.3) !important;
        }
    </style>
{% endblock css %}

{% block content %}

    <section class="py-5">
        <div class="container p-2 rounded">
            <h1 class="bg-light ">Welcome pubpub.social</h1>

            <ul>
                <li>Create self-managing email groups</li>
                <li>Free (as in beer) for the foreseeable future</li>
                <li>Click a button, a draft email pops up in your email software
                    <a class='btn btn-sm btn-outline-primary my-0' target='_blank' href='{{ email_link }}'>try it!</a>
                </li>
            </ul>

            <div class="mt-4">
                <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-primary" href="{% url 'signup' %}">Sign
                    Up</a>
            </div>
            <div class="h1 mt-5">This app is in development. For the time being, only admin can create new groups</div>
        </div>
    </section>

   <div id="tsparticles" style="width:100%; height:100%; z-index: -1;"></div>
    <script src="{% static 'js/tsparticles.bundle.min.js' %}"></script>
    <script>

        var particles;
        tsParticles
            .loadJSON("tsparticles", "{% static 'js/particles.json' %}")
            .then(container => {
                console.log("callback - tsparticles config loaded");
            })
            .catch(error => {
                console.error(error);
            });

    </script>




{% endblock content %}