{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'favicon/favicon-32x32.png' %}"
                                                              height="48" alt="PubPubs.Pub"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'preferences' %}">Preferences</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'mailauth:logout' %}">Sign Out</a>
                    </li>

                {% else %}
                    <li class="nav-item ms-2">
                        <a id="log-in-link" class="btn btn-frontpage" href="{% url 'mailauth:login' %}">Log In</a>
                    </li>

                    <li class="nav-item mt-1 mt-m-0 mt-lg-0 ms-2">
                        <a id="sign-up-link" class="btn btn-frontpage" role="button" href="">Sign
                            Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>